adjustText==1.2.0
h5py==3.11.0
matplotlib==3.9.1
numpy==1.26.4
pandas==2.2.2
pydeseq2==0.4.12
scanpy==1.10.2
scikit-learn==1.5.1
scipy==1.13.1
seaborn==0.13.2
shapely==2.0.4
squidpy==1.5.0
tables==3.9.2
torch==1.13.0
tqdm==4.66.4